body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hovering-text {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  background: white;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 2px;
}
